<ion-content>
  <div *ngFor="let c of chats; index as i">
    <div class="chats" (click)="selectChat()">
      <ion-avatar class="chats_avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" class="chats_profile_pic">
      </ion-avatar>

      <div class="chats_name">
        <div><strong>{{c.name}}</strong></div>
        <div><p>{{c.messages[c.messages.length-1].message}}</p></div>
      </div>

      <!-- <div class="chat_time">{{c.updatedAt.toLocaleDateString("en-us")}}</div> -->
      <div class="chat_time">{{getLastMessageDate(i) | date:'yy/MM/dd HH:mm'}}</div>
    </div>
  </div>
</ion-content>
