<ion-content>
  <div>
    <div class="chats" (click)="selectChat()">
      <ion-avatar class="chats_avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" class="chats_profile_pic">
      </ion-avatar>

      <div class="chats_name">
        <div><strong>Ionic Group</strong></div>
        <div><p>Job Complete</p></div>
      </div>

      <div class="chat_time">today</div>
    </div>

    <div class="chats">
      <ion-avatar class="chats_avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" class="chats_profile_pic">
      </ion-avatar>

      <div class="chats_name">
        <div><strong>Kavindu</strong></div>
        <div><p>Hello</p></div>
      </div>

      <div class="chat_time">today</div>
    </div>
  </div>
</ion-content>
