<ion-header>
  <ion-toolbar>
    <div class="message_title" slot="start">
      <ion-buttons class="message_back_button">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>

      <div class="messages_profile_pic">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" class="chats_profile_pic">
        </ion-avatar>
      </div>

      <ion-title>Ionic Group</ion-title>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message_content">
    <div class="message_chats">
      hi guys
      <span class="message_time_stamp">today</span>
    </div>

    <div class="message_chats message_receiver">
      am doing great
      <span class="message_time_stamp">today</span>
    </div>
  </div>
</ion-content>
