<ion-header>
  <ion-toolbar>
    <div class="message_title" slot="start">
      <ion-buttons class="message_back_button">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>

      <div class="messages_profile_pic">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" class="chats_profile_pic">
        </ion-avatar>
      </div>

      <ion-title>{{data.name}}</ion-title>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message_content">
    <div *ngFor="let c of data.messages">
      <div class="message_chats">
        {{c.message}}
        <span class="message_time_stamp">{{c.createdAt | date:'HH:mm'}}</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="chat_input">
      <ion-icon class="chat_icon" name="happy-outline"></ion-icon>
      <input type="text" name="chat" [(ngModel)]="message">
      <div class="chat_icon">
        <ion-icon name="send" (click)="postMessage()"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
